.container {
    background-color: #E9FAD2;
    width: 100%;
    height: 100vh;
}

.cardDeck {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9FAD2;
    width: 100%;
}

.regCard {
    width: 850px;
    height: 800px;
    background-color: #FFFFFF;
    border-radius: 30px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authCard {
    width: 850px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 30px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-bottom: 10px;
    font-style: normal;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #6D8251;
}

.authFormContainer {
    display: flex;
    text-align: center;
    justify-content: center;
}


.regFormItem {
    padding-top: 10px;
    width: 600px;
}

.titleBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profileFormBackground{
    flex-direction: row;
    display: flex;
    color: white;
    border-radius: 30px;
    height: 100%;
    margin-left: 8vw;
    margin-top: 12vh;
    justify-content: flex-start;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.profileForm{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 60px;
    justify-content: center;
}
.profileTextName{
    color: #213803;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.profileText{
    color: #213803;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 10px;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(233, 250, 210, 0.47);
    margin-bottom: 50px;
}
.image{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 200px;
    background-color: rgba(233, 250, 210, 0.47);
}
.blogsItemDeck {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #A9BE8C;
    min-height: 100vh;
}

.blogItemDeck {
    display: flex;
    justify-content: center;
    width: 60%;
    min-height: calc(100vh - 60px);
}

