body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:where(.css-dev-only-do-not-override-k7429z).ant-collapse-borderless {
  background-color: #FFFFFF;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout-header {
  padding: 0 0 0 0;
  padding-inline: 0;
  background: transparent;
  height: 60px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-carousel .slick-dots li.slick-active button {
  background: #6D8251;
  opacity: 1;
}

:where(.css-dev-only-do-not-override-k7429z).ant-carousel .slick-dots li button {
  background: #A9BE8C;
}

.popup {
  position: absolute;
  transform: translate(-50%, -150%);
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.popup-content {
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(38, 38, 38, 0.2);
}
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  font-size: 12px;
  cursor: pointer;
}
.popup-tip {
  width: 0;
  height: 0;
  align-self: center;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}